<div class="min-h-screen grid place-items-center">
  <section class="w-full max-w-sm" hlmCard>
    <div hlmCardHeader>
      <h3 hlmCardTitle>Login to your account</h3>
      <p hlmCardDescription>Enter your email below to login to your account</p>

      <div hlmCardAction>
        <button hlmBtn variant="link">Sign Up</button>
      </div>
    </div>

    <div hlmCardContent>
      <form>
        <div hlmFieldGroup class="flex flex-col gap-6">
          @if (error(); as error) {
            <div hlmAlert variant="destructive">
              <ng-icon hlmAlertIcon name="lucideCircleAlert" />
              <h4 hlmAlertTitle>Login Error</h4>
              <div hlmAlertDescription>{{ error }}</div>
            </div>
          }

          <div hlmField class="grid gap-2">
            <label hlmFieldLabel for="field-input-login-email">Email</label>
            <input
              hlmInput
              id="field-input-login-email"
              type="email"
              placeholder="m@example.com"
              [field]="loginForm.email"
            />
            @if (loginForm.email().touched() && loginForm.email().invalid()) {
              @for (error of loginForm.email().errors(); track error) {
                <hlm-error>{{ error.message }}</hlm-error>
              }
            }
          </div>
          <div hlmField class="grid gap-2">
            <div class="flex items-center">
              <label hlmFieldLabel for="field-input-login-password">Password</label>
              <a href="#" class="ml-auto inline-block text-sm underline-offset-4 hover:underline">
                Forgot your password?
              </a>
            </div>
            <input
              hlmInput
              id="field-input-login-password"
              type="password"
              placeholder="••••••••"
              [field]="loginForm.password"
            />

            @if (loginForm.password().touched() && loginForm.password().invalid()) {
              @for (error of loginForm.password().errors(); track error) {
                <hlm-error>{{ error.message }}</hlm-error>
              }
            }
          </div>
        </div>
      </form>
    </div>
    <div hlmCardFooter class="flex-col gap-2">
      <button
        hlmBtn
        type="submit"
        class="w-full"
        (click)="submit($event)"
        [disabled]="loading() || loginForm().invalid()"
      >
        {{ loading() ? 'Logging in...' : 'Login' }}
      </button>

      <button
        hlmBtn
        variant="outline"
        class="w-full"
        type="button"
        [disabled]="loading()"
        (click)="loginWithGoogle()"
      >
        {{ loading() ? 'Please wait...' : 'Login with Google' }}
      </button>
    </div>
  </section>
</div>
